<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lah.texpert"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- <supports-screens -->
    <!-- android:largeScreens="false" -->
    <!-- android:normalScreens="false" -->
    <!-- android:smallScreens="false" -->
    <!-- android:xlargeScreens="true" /> -->

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="lah.texpert.LaTeXEditingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_latex_editing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="text/x-tex"
                    android:scheme="file" />
                <data
                    android:mimeType="text/x-latex"
                    android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name="lah.texpert.SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>